.logged-in header.position-fixed {
    margin-top: 32px;
}

@media only screen and (max-width:767px) {
    .logged-in .secondary-nav {
        margin-top: 43px;
    }

    .hero h1 {
        font-size: 1.5rem;
    }
}

.img-hero {
    min-height: 300px;
    height: 85vh;
    object-fit: cover;
}

body:not(.home) .img-hero {
    min-height: 200px;
    height: 30vh;
}