section {
    overflow: hidden;
}

/* start of process */
.col-services * {
    transition: all .25s ease-in-out;
}

.col-services:hover .col-services-hover {
    background: var(--accent-secondary);
}

.col-services:hover * {
    color: white !important;
}

/* end of process */