ul.menu li {
    padding: 0px 0px;
    position: relative;
    list-style: none;
}

ul.menu li a {
    color: black;
}

ul#menu-primary>li>a {
    font-size: 22px;
    padding: 9px 0;
    display: block;
}

ul.menu>li.menu-item-has-children {
    margin-right: 18px;
}

.current-menu-item>a,
.current_page_parent>a,
#menu-main-menu>.current_page_item>a,
.current_page_parent>.current-menu-item>a,
.current-page-ancestor>a,
#menu-main-menu .current_page_ancestor .current_page_item>a {
    text-decoration: underline;
}

ul.menu>li.current-menu-item>a {
    text-decoration: underline;
}

.menu-main-menu-container {
    pointer-events: none;
}

.activate .menu-main-menu-container {
    pointer-events: all;
}

.nav ul.shopping-cart.menu {
    background: transparent;
    display: flex !important;
}

a#navToggle {
    cursor: pointer;
}

.nav-toggle div div {
    height: 2px;
    width: 55px;
    margin: 8px auto;
    transition: all .75s ease-in-out;
}

.activate .line-1 {
    transform: rotate(45deg) translate(6px, 18px);
    transform-origin: right;
}

.activate .line-3 {
    transform: rotate(-45deg) translate(4px, 3px);
    transform-origin: left;
}

.activate .line-2 {
    opacity: 0;
}

/* hides nav items */
div#navItems {
    height: 100vh;
    overflow: scroll;
    transition: all 1s ease-in-out;
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 3;
}

div#navMenuOverlay {
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, .5);
    transition: all 1s ease-in-out;
}

#navMenuOverlay {
    left: -100%;
}

#navMenuOverlay.activate {
    left: 0;
}

div#navItems.activate {
    top: 0;
}

/* for blog and other pages */
.page-template-blog header#header,
.single header#header,
.archive header#header,
.category header#header,
.tag header#header,
.search header#header {
    background: #f3be7c;
}

/* website specific css */